// This file contains all the navigation custom css

.bowling-row{
	min-height: 60px;
}
.delete-bowling{
	position: absolute;
	bottom: 15px;
	margin-left: 2px;
}
.empty-slot:hover{
	background-color: #dff0d8;
    border-color: #d6e9c6;
    cursor: pointer;

}