.flash-box {
	z-index: 99999;
	position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    top: 75px;
    max-height: 400px;
    width: 600px;
}

.flash__message {
    box-sizing: border-box;
    padding: 15px 30px 15px 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ccc;
    position: relative;
}
.flash__message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.flash__message.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.flash__close-button {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 10px;
    margin: 0;
    padding: 8px;
}
.flash__message {
    box-sizing: border-box;
    padding: 15px 30px 15px 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ccc;
    position: relative;
}

.slide-enter, .slide-leave-to { 
    transform: translateY(-130px); 
}

.slide-enter-to, .slide-leave {
    transform: translateY(0px); 
}


.slide-enter-active,
.slide-leave-active { transition: all 300ms ease-in-out; }