// This file contains all the custom form css
.input-is-invalid {
    border-color: #e3342f!important;
    .vue__time-picker input.display-time:focus {
        box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, .25)!important;
    }
}

.input-is-invalid:focus {
    border-color: #dc3545!important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25)!important;
}

.input-is-valid {
    border-color: #38c172!important;
}

.input-text-align-center {
    text-align: center;
}

.input-invalid-msg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}

.vue__time-picker .dropdown ul li[disabled] {
    display: none;
}

.vue__time-picker .dropdown ul li:not([disabled]).active {
    background: $primary!important;
}

.vue__time-picker {
    width: 100%!important;
    font-family: $font-family-sans-serif!important;
}

.vue__time-picker input.display-time:focus {
    color: #495057;
    background-color: #ffffff;
    border-color: #a1cbef;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(52, 144, 220, 0.25);
}

.vue__time-picker input.display-time {
    border: 0px!important;
    height: 2.2rem!important;
    width: 100%!important;
    padding: .375rem .75rem!important;
}

.vue__time-picker input.display-time.invalid:not(.skip-error-style) {
    border-color: #e3342f!important;
}

.btn-delete {
    position: absolute!important;
    bottom: 0;
    left: -15px;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border: 1px solid $primary!important;
}

.vdp-datepicker__calendar {
    width: 250px!important;
    height: 200px!important;
    .cell {
        height: 20%!important;
        line-height: 25px!important;
    }
}