// This file contains all the custom login css


// for login screen centered
.vh-minusMenu {
	height: calc(100vh - 55px); 
}
// login container styling
.login-container {
	padding: 1rem;
	color: #fff;
}