.my-modal-backdrop {
    background-color: rgba(0, 0, 0, 0.3)!important;
    z-index: 99999;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.my-modal {
    border-radius: 5px;
    padding: 1rem;
    position: relative!important;
    display: block!important;
    margin-top: 5%;
    background: #FFFFFF;
    .my-modal-header {
        h2 {
            font-weight: 600!important;
        }
    }
    h5.my-modal-h5 {
        font-weight: 600!important;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave {
    opacity: 1;
}

.modal-open .my-modal {
    overflow: visible!important;
}

.my-modal-close {
    cursor: pointer;
    svg {
        fill: $darkest-gray-color;
    }
}