.my-modal-backdrop {
    background-color: rgba(0, 0, 0, 0.3)!important;
    z-index: 99999;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.my-modal {
    position: relative!important;
    display: block!important;
    margin-top: 5%;
    background: #FFFFFF;
}

.btn-close {
    border: 1px solid #ced4da;
    font-size: 30px;
    padding: 0 10px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave {
    opacity: 1;
}

.modal-open .my-modal {
    overflow: visible!important;
}