// This file contains all the navigation custom css
.navbar{
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.navbar .logout {
	color: $red;
}

#nav-spacer {
	padding: 0 .7rem;
}
.icon {
	height: 34px;
	width: 34px;
	transition: ease 0.2s;
}

.nav-link:hover .icon{
	fill:$primary;
}

.active{
	.icon{
	fill:$primary;
	}
}
.dropdown-item:hover, .dropdown-item:focus{
	background-color: $primary!important;
}