// This file contains all the navigation custom css

.navbar-nav{
	max-height: 50px;
}

.navbar .logout {
	color: $red;
}

#nav-spacer {
	padding: 0 .7rem;
}
.icon {
	height: 34px;
	width: 34px;
	transition: ease 0.2s;
}

.nav-link:hover .icon{
	fill:$primary;
}

.active{
	.icon{
	fill:$primary;
	}
}
.dropdown-item:hover, .dropdown-item:focus{
	background-color: $primary!important;
}