// This file contains all the navigation custom css

.navbar-nav{
	max-height: 50px;
}

.navbar .logout {
	color: $red;
}

#nav-spacer {
	padding: 0 .7rem;
}
.icon-l{
	height:105%;
}
.icon {
	height: 34px;
	width: 34px;
	transition: ease 0.4s;
}

.nav-svg:hover .icon{
	fill:$primary;
}

.icon-active{
	fill:$primary;
}
