.reservations-container {
    padding: 1rem 0;
    margin: 0 auto;
    width: 95%;
}

.week-header h4 {
    text-transform: uppercase;
    font-weight: 600!important;
    color: $font-color!important;
    a {
        font-weight: 600!important;
        color: $font-color!important;
    }
}

// Month view css
#reservations-month-view {
    a.is-today {
        background-color: firebrick;
        border-radius: 50%;
        padding: 0.1rem 0.3rem;
        color: $white!important;
    }
    .week-number-cell {
        max-width: 6%;
        border-right: 2px solid $darker-gray-color;
    }
    .month-view-headers {
        .col {
            padding-bottom: 1rem;
        }
        .day-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid $darker-gray-color;
            h4 {
                margin-bottom: 0px!important;
            }
        }
        .week-number-cell {
            border: 0px;
        }
    }
    .month-wrapper {
        padding: 0rem 0.375rem;
        margin-bottom: 0.2rem;
    }
    .month-view-row {
        min-height: 7.5rem;
    }
    .month-view-link {
        color: $white!important;
        font-weight: bold;
    }
    .month-view-size {
        font-weight: 300;
        font-size: 0.8rem;
        color: $gray-color;
    }
    .month-view-date-link,
    .week-number-cell a {
        color: $darkest-gray-color!important;
    }
}

// Week view css
#reservations-week-view {
    min-height: 30rem;
    .weekview-day-column-header {
        border-bottom: 2px solid $darker-gray-color;
        .is-today a {
            color: firebrick!important;
        }
        .week-link:hover {
            color: $darker-gray-color!important;
        }
    }
    .weekview-day-column {
        border-right: 1px solid $darker-gray-color;
    }
    .weekview-day-column:last-of-type {
        border-right: 0px;
    }
}

// Day view css
#reservations-day-view {
    padding: 2rem 0;
}

// All view
h3.all-dayname {
    text-transform: uppercase;
    margin-bottom: 0px!important;
    font-weight: 600!important;
}

span.all-date {
    padding-left: .3rem;
    font-size: 1.2rem;
    color: $darkest-gray-color;
}

h5.all-type-title {
    font-size: 1rem!important;
    font-weight: 600!important;
}