// Typography
$font-family-sans-serif: 'Raleway',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$primary: #3490dc;
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #6c757d;
$black: #212529;
// custom
$font-color: #26323a;
$res-bg-color: #7189fc;
$res-border-color: #3f5ffa;
$grp-bg-color: #72e0af;
$grp-border-color: #22d492;
$bwl-bg-color: #e0f2f1;
$bwl-border-color: darken($bwl-bg-color, 25%);
$menu-logout-color: #cfd8dc;
// primary colors
$container-color: #eceff1;
$gray-color: #eceff1;
$darker-gray-color: #b0bec5;
$darkest-gray-color:#79909b;