// This file contains all the custom week css

#reservations-week-view{
	padding: 3rem;
	min-height: 500px;
}
.reservation-name{
	.week-grp-size{
		margin-left:-5px;
		p{
			text-align: right;
		}
	}
	a{
		font-size: 1.1rem;
		line-height: 1.2;
	} 
}
.weekview-day-column{

}
.reservation-attributes{
	font-size: 0.6rem;
	.activity-time{
		font-size: 0.8rem;
	}
}

.res-week-wrapper{
	
	p{
		margin-bottom: 0px;
	}
}

.is-today{
	a{
		color:$red!important;
		text-decoration: underline;
	}
}