.month-daynumber{
	a{
		color: $black;
	}
}

.month-grp{
	color: $grp-color!important;
}

.month-res{
	color: $res-color!important;
}


.month-view-link{
	font-size: 0.8rem;
}

.month-view-row {
	min-height: 100px;
}

#reservations-month{
	padding:3rem;
}

a.is-today{
	background-color: $red;
	border-radius: 50%;
	padding: 0.1rem 0.2rem;
	color: $white!important;
}