.month-daynumber{
	a{
		color: $black;
	}
}

.month-grp{
	color: $grp-color!important;
}

.month-res{
	color: $res-color!important;
}


.month-view-link{
	font-size: 0.8rem;
}

.month-view-row {
	min-height: 100px;
}